@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The About Page</h1>
    <p>Welcome to my about page. To be filled in later</p>
    <h5 class="alert-info">I love coding!....Sometimes haha</h5>
</div>
