@{
    ViewData["Title"] = "Page 2";
}

<div class="text-center">
    <h1 class="display-4">Help Page</h1>
</div>

<h1>Tutorial Page 2</h1>
<p>Here's the second thing you need to know about my website.</p>
<a asp-controller="Tutorial" asp-action="Page1" asp-area="Help" class="btn btn-primary">Prev</a>
<a asp-controller="Tutorial" asp-action="Page3" asp-area="Help" class="btn btn-primary">Next</a>