@{
    ViewData["Title"] = "Page 3";
}

<div class="text-center">
    <h1 class="display-4">Help Page</h1>
</div>

<h1>Tutorial Page 3</h1>
<p>Here's the third thing you need to know about my website.</p>
<a asp-controller="Tutorial" asp-action="Page2" asp-area="Help" class="btn btn-primary">Prev</a>